body{
    height: 100vh;
    font-family: arial,sans-serif;
    font-size: 13px;
}

header{
    display: flex;
    justify-content: end;
    height: 60px;
    padding: 0 18px;
}

header .options{
display: flex;
align-items: center;
gap: 12px;
}

header .options a {
    color: gray;
    text-decoration:none
}

header .options a:hover{
    text-decoration: underline;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50vh;
}

.buscador{
display: flex;
align-items: center;
margin-top: 20px;
height: 30px;
width: 450px;
padding: 8px 12px;
border: 1px solid gray;
border-radius: 24px;
}

.buscador input{
    border: none;
    background-color: transparent;
    opacity: 0.5;
    width: 100%
}

.buscador input:focus{
    outline: none;
}

img{
    max-width: 100%;
}

.btn2{
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 8px;
    height: 40px;
    background-color: transparent;
    border-color: grey;
    
}
.btn1{
    border-radius: 8px;
    height: 40px;
    background-color: transparent;
    border-color: gray;
}

.buscador a{
    color: gray;
    margin: 5px;
}

footer{
    width: 100%;
margin-top: 300px;
justify-content: center;
align-items: center;
}

.ultimo{
display: inline-block;
margin-left: 900px;;
}
.primero{
    width: 30%;
    display: inline-block;
}

.ultimo a{
    text-decoration: none;
    color: grey
}

.primero a{
    text-decoration: none;
    color: grey;
}

.primero a:hover{
    text-decoration: underline;
}
.ultimo a:hover{
    text-decoration: underline;
}

section span{
    color: grey;
}